.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
  text-align: center;
  padding: 20px;
  height: calc(100vh - 60px); /* Adjust based on nav height */
}

.blue {
  background-color: #2b87d1;
  color: white;
}

.red {
  background-color: #cd3c39;
  color: white;
}

.green {
  background-color: #4bdb6a;
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.ellipsis {
  font-size: 3rem;
  font-weight: 300;
}

.smallText {
  font-size: 1.5rem;
}

.clickText {
  font-size: 4rem;
  font-weight: 700;
}

.resultTime {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
